script(type="text/template", id="<%= collectionName %>-composite-item-template")
	<% for (var p in properties) { %>
	td {{! it.<%= properties[p].name %>}}
	<% } %>
	td
		a.btn.btn-xs.btn-default(href="#<%= collectionName %>/show/{{= it._id}}")
			span.glyphicon.glyphicon-eye-open
			| &nbsp;Open
		| &nbsp;
		a.btn.btn-xs.btn-warning(href="#<%= collectionName %>/edit/{{= it._id}}")
			span.glyphicon.glyphicon-edit
			| &nbsp;Edit
		| &nbsp;
		a.btn.btn-xs.btn-danger(href="#<%= collectionName %>/remove/{{= it._id}}")
			span.glyphicon.glyphicon-remove
			| &nbsp;Remove

script(type="text/template", id="<%= collectionName %>-composite-template")
	h1 <%= collectionClassName %>
		| &nbsp;
		a.btn.btn-primary.btn-xs(href="#<%= collectionName %>/new")
			span.glyphicon.glyphicon-plus-sign
			| &nbsp;New
	table.table.table-condensed
		thead
			tr
				<% for (var p in properties) { %>
				th <%= properties[p].title %>
				<% } %>
				th
		tbody
