script(type="text/template", id="<%= collectionName %>-remove-template")
	h1 Remove <%= modelClassName %>
	.alert.alert-danger Are you sure to remove <%= modelName %>? 
	button#remove.btn.btn-danger Remove
	&nbsp;
	button#cancel.btn.btn-default Cancel
