extends master
block body
	include navbar
	.container
		.row.marketing			
			.col-sm-12: .well
				#viewport
	script(type="text/javascript", src="/bootstrap.js")
	script(type="text/javascript", src="/require.js", data-main="script")
