extends master
block body
	.container
		.row.marketing			
			.col-sm-3: .well
				h2 Something
				p: a.btn.btn-default(href="#something") Start &rarr;
			.col-sm-3: .well
				h2 Something
				p: a.btn.btn-default(href="#something") Start &rarr;
			.col-sm-3: .well
				h2 Something
				p: a.btn.btn-default(href="#something") Start &rarr;
			.col-sm-3: .well
				h2 Something
				p: a.btn.btn-default(href="#something") Start &rarr;
	script(type="text/javascript", src="/require.js", data-main="script")
